/* mova.html - main page */

/* contents */
section.contents {
  margin-top: 140px;
}
.contents .inner {
  display: flex;
}
.feed_inner {
  flex: 2;
  margin-right: 20px;
}

/* post */
.post {
  background: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  /* box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1); */
}
.post_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.post_title .user_name {
  font-size: 2.4rem;
  font-weight: 400;
  /* background-color: #680768; */
}
.post_title .post_plus {
  font-size: 1.8rem;
}
.post_title .post_plus:hover a {
  color: #8b559b;
}
.tags {
  margin-bottom: 16px;
}
.tag {
  display: inline-block;
  background: #333;
  padding: 5px 12px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 1.8rem;
}
.movie_list {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}
.movie {
  flex: 1;
  width: 100px;
  text-align: center;
}
.movie_detail {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.movie img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 10px;
}
.movie .move_title {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10px;
}
.caption {
  margin-bottom: 24px;
  font-size: 2.8rem;
}

/* sidebar */
.sidebar {
  height: max-content;
  flex: 1;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}
.sidebar_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sidebar_header h3 {
  font-size: 2.4rem;
}
.sidebar_header .plus {
  font-size: 1.6rem;
}
.sidebar_header .plus:hover {
  color: #8b559b;
}
.new_conts {
  text-align: center;
}
.new_conts img {
  width: 100%;
  border-radius: 10px;
}
.new_conts .new_title {
  font-size: 2rem;
  margin-top: 10px;
}
